body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $primary-body-color;
  color: $gray-dark;
}

.container {
  padding: $base-item-padding;
  position: relative;
}

.content-with-sidebar {
  width: 69.29%;
  min-width: 600px;
  display: inline-block;
}

.sidebar {
  width: 28.29%;
  display: inline-block;
  vertical-align: top;
  background: $secondary-body-color;
  margin: 2em 0;
  padding: 1em 0;
}

header {
  background: $secondary-body-color;
  .main-nav {
    float: right;
  }
  .header {
    display: flex;
    max-width: 100%;
    align-items: flex-end;
    padding: 1.5em 0;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: flex-end;
      h2 {
        margin: 0;
        line-height: 1em;
      }
      .lead.description {
        p {
        margin: 0 1em;
        }
      }
    }
  }
}

main {
  flex: 1;
}

footer {
  background: $secondary-body-color;
  font-size: $h6-font-size;

  .info {
    display: inline-block;
  }
  .scroller {
    float: right;
  }
}


article {
  border: $base-borders;
  padding: 1em 0;
}
article.single {
  width: 100%;
  max-width: 700px;
  margin: 1em auto;
}

a.post.teaser {
  color: $gray-dark;

  .content {
    margin: 2em 1.5em;
  }
  article {
    width: 100%;
    margin: 2em 0;
    padding: 0 .75em;
    margin-left: -.75em;
  }
  article.with-image {
    display: flex;
    padding: 0 .75em;
    .image {
      max-width: 50%;
      margin-left: -.75em;
      margin-right: .75em;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .content {
      max-width: 50%;
    }
  }
}
