/*_typography.scss*/
body {
color: $primary-text-color;
font-size: $base-font-size;
font-family: $base-font-family;
font-weight: $base-font-weight;
line-height: 1.75;
}

header a {
  color: $primary-text-color;
}

a {
  color: $secondary-text-color;
  text-decoration: none;
}
a:hover {
  color: $tertiary-body-color;
}
p {
  margin: $secondary-item-padding;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $header-font-weight;
  font-family: $header-font-family;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h3-font-size;
  font-weight: $base-font-weight;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  text-transform: uppercase;
  letter-spacing: .05em;
}

blockquote {
    padding-left: 1em;
    border-left: 2px solid $primary-text-color;
}

nav.main-nav {
  padding-top: 6em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    font-size: $h3-font-size;
    font-family: $header-font-family;
  }
}

header {
  .header, .main-nav {
    display: inline-block;
  }
}

article ul {
  list-style: circle;
  margin-left: 1.25em;
}
