/*_variables.scss */
/* Body Text Styles */
$primary-body-color: #fff;
$secondary-body-color: #eee;
$tertiary-body-color: honeydew;

$primary-text-color: #222222;
$secondary-text-color: gray;

$primary-link-color: blue;
$secondary-link-color: #ccc;

$base-font-size: 16px;
$base-font-family: 'Libre Franklin', sans-serif;
$base-font-weight: 400;

$base-item-padding: 0 1.5em;
$secondary-item-padding: .75em 0;

$header-font-weight: 700;
$header-font-family: 'Oswald', sans-serif;

$h1-font-size: 2.25em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: .9em;
$h6-font-size: .75em;

$base-borders: 1px solid #eee;
